<div class="avito-asd">
  <div class="content">
    <img src="../../../assets/1-avito.png" class="logo">
    <div>
      <img src="../../assets/1-keys.png" class="keyboard">
      <div class="lead-text">
        <p>
          Это самый красивый сайт для самого лучшего праздника.
          Потому что ты уже никогда не будешь так же молод, как ASD сегодня.
          <br>
          Садись поудобнее и пройди временной путь с 2011 по 2121 год
          – там очень много интересного.
        </p>
      </div>
    </div>
  </div>

  <div>
    <img src="../../../assets/1-white-key.svg" class="top-white-key">
    <img src="../../../assets/hex-l-crop.svg" class="hexagon">
    <img src="../../assets/1-gr.png" class="right-graphic">
  </div>
</div>