<div class="three-way" style="display: flex; flex-flow: row nowrap; justify-content: space-between;">
  <div>
    <img src="../../../assets/hexagon.svg" alt="">
  </div>
  <div class="space-between">
    <div style="width: 10vw;">
      <img src="../../../assets/1-avito.png" alt="">
    </div>
    <img src="../../../assets/1-white-key.svg" width="300">
    <img src="../../../assets/1-red-key.svg" width="300">
    <div class="anniversary">
      10 лет
    </div>
    <img src="../../assets/1-graphic.png" style="height: 100px; width: 100px;">
    <img src="../../assets/1-graphic-red.png" style="height: 100px; width: 100px;">
    <div class="lead-text">
      Это самый красивый сайт для самого лучшего праздника.
      Потому что ты уже никогда не будешь так же молод, как ASD сегодня.
      Садись поудобнее и пройди временной путь с 2011 по 2121 год
      – там очень много интересного.
    </div>
  </div>
  <div>
    <img src="../../assets/1-keys.png" style="height: 100px; aspect-ratio: 53/66;">
  </div>
</div>
<div style="display: flex; flex-direction: row-reverse;">
  <img src="../../../assets/1-blue-circle.svg">
</div>