<!-- absolutes -->
<div class="right-top">
  <img src="../../../assets/9-right-top.svg" style="width: 10vw;">
</div>

<div class="right-bottom">
  <img src="../../../assets/9-right-bottom.svg" style="width: 10vw;">
</div>

<div class="hwhh left-bottom">
  <img src="../../../assets/9-left-bottom.svg">
</div>

<div class="hwhh main-row wrapper">
  <div class="main-column left-col">
    <img src="../../../assets/hex-l-crop.svg" class="hex">
  </div>
  <div class="main-row addd content">
    <div class="title-text">
      Флешмоб
    </div>
    <div class="lead-text">
      Выкладывай логотип ASD из всего, до чего сможешь дотянуться. Самые крутые варианты получат призы,
      а самая интересная работа будет выставлена
      в музее современного искусства «Эрарта»
    </div>
    <div (click)="click()" >
      <button type="submit" style="margin-bottom: 10px;">
        <a #link routerLink="contest-image">
          Загрузить!
        </a>
      </button>
    </div>

    <div class="main-column graphics">
      <div class="fl-wrap">
        <div class="graphic">
          <img class="imge" src="../../../assets/9-graphic.png">
        </div>
        <div class="temes">
          <swiper class="swiper-teme" [autoplay]="{ delay: 2500 }" [preventInteractionOnTransition]="true"
            [direction]="'horizontal'" [nested]="true" [pagination]="{ clickable: true }">
            <div class="swiper-pagination"></div>
            <ng-template swiperSlide class="swiper-teme-slide">
              <img class="imgee" src="../../../assets/flash-mob/39.png">
            </ng-template>
            <ng-template swiperSlide class="swiper-teme-slide">
              <img class="imgee" src="../../../assets/flash-mob/40.png">
            </ng-template>
            <ng-template swiperSlide class="swiper-teme-slide">
              <img class="imgee" src="../../../assets/flash-mob/41.png">
            </ng-template>
            <ng-template swiperSlide class="swiper-teme-slide">
              <img class="imgee" src="../../../assets/flash-mob/42.png">
            </ng-template>
            <ng-template swiperSlide class="swiper-teme-slide">
              <img class="imgee" src="../../../assets/flash-mob/43.png">
            </ng-template>
            <ng-template swiperSlide class="swiper-teme-slide">
              <img class="imgee" src="../../../assets/flash-mob/44.png">
            </ng-template>
            <ng-template swiperSlide class="swiper-teme-slide">
              <img class="imgee" src="../../../assets/flash-mob/45.png">
            </ng-template>
            <ng-template swiperSlide class="swiper-teme-slide">
              <img class="imgee" src="../../../assets/flash-mob/46.png">
            </ng-template>
          </swiper>
        </div>
      </div>
    </div>
  </div>
</div>