<div class="right-top">
  <img src="../../../assets/9-right-top.svg" style="width: 10vw;">
</div>

<div class="right-bottom">
  <img src="../../../assets/9-right-bottom.svg" style="width: 10vw;">
</div>

<div class="hwhh left-bottom">
  <img src="../../../assets/9-left-bottom.svg">
</div>

<div class="hwhh main-row wrapper">
  <div class="main-column" style="justify-content: center;">
    <img src="../../../assets/hex-l-crop.svg" style="width: 7vw;">
  </div>
  <div class="main-column" style="justify-content: center; width: 50vw;">
    <div class="title-text">
      Флешмоб
    </div>
    <div class="lead-text">
      Выкладывай логотип ASD из всего, до чего сможешь дотянуться. Самые крутые варианты получат призы,
      а самая интересная работа будет выставлена
      в музее современного искусства «Эрарта»
    </div>
    <button type="submit" style="margin-bottom: 10px;">
      <a routerLink="contest-image">
        Загрузить фотографию
      </a>
    </button>
    <div class="scroll">
      <img src="../../../assets/flash-mob/39.png" width="200px">
      <img src="../../../assets/flash-mob/40.png" width="200px">
      <img src="../../../assets/flash-mob/41.png" width="200px">
      <img src="../../../assets/flash-mob/42.png" width="200px">
      <img src="../../../assets/flash-mob/43.png" width="200px">
      <img src="../../../assets/flash-mob/44.png" width="200px">
      <img src="../../../assets/flash-mob/45.png" width="200px">
      <img src="../../../assets/flash-mob/46.png" width="200px">
    </div>
  </div>
  <div class="main-column" style="justify-content: center; width: 35vw;">
    <div style="height: 50%; display: flex; flex-direction: column-reverse;">
      <img src="../../../assets/9-graphic.png" style="max-height: 100%; max-width: 100%; aspect-ratio: 3/2; z-index: 0;">
    </div>
    <div style="height: 50%;"></div>
  </div>
  <div class="main-column" style="width: 7vw;">
  </div>
</div>