<div class="hwhh booton">
  <button [disabled]="true" type="submit">
    <a routerLink="">
      Скачать!
    </a>
  </button>
</div>

<div class="hwhh tiitle">
  <div class="title-text">
    Стикерпак
  </div>
</div>

<div class="bottom-wave">
  <img src="../../../assets/8-bottom.svg" class="wave">
</div>

<div class="main-row hwhh">
  <div class="main-column left-column">
    <img src="../../../assets/8-white-key.svg" class="key">
  </div>
  <div class="main-column c-col">

    <div class="lead-text">
      Один годный стикер заменяет пятьдесят сложносочиненных предложений.
      <br>
      Качай и используй в рабочих чатах
    </div>

  </div>
  <div class="main-column right-column">
    <img src="../../../assets/hex-r-crop.svg" class="hex">
  </div>
</div>