<div class="hwhh" style="display: flex; flex-direction: column-reverse; align-items: center;;">

  <div (click)="stikers.click()">
    <button style="margin: 30px; z-index: 19;">
      <span>
        <a #stikers href="https://t.me/addstickers/avitoasd">
          Скачать
        </a>
      </span>
    </button>
  </div>
</div>

<div class="bottom-wave">
  <img src="../../../assets/8-bottom.svg" class="wave">
</div>

<div class="main-row hwhh">
  <div class="main-column left-column">
    <img src="../../../assets/8-white-key.svg" class="key">
  </div>

  <div class="main-column right-column">
    <img src="../../../assets/hex-r-crop.svg" class="hex">
  </div>
</div>

<div class="c-col">
  <img src="../../../assets/8-red-thing.png" class="cir">
</div>

<div class="alpacas">
  <div class="alpaca" style="top: 10%;
  flex-direction: column;
  right: 40%;">
    <img class="img" src="../../../assets/stickers/Улыбка-min.png">
  </div>
  <div class="alpaca" style="bottom: 60%;
  flex-direction: row;
  left: 23%;">
    <img class="img" src="../../../assets/stickers/Топ-min.png">
  </div>
  <div class="alpaca" style="flex-direction: column-reverse;
  right: 36%;
  bottom: 4%;
  ">
    <img class="img" src="../../../assets/stickers/Спасибо-min.png">
  </div>
  <div class="alpaca" style="    flex-direction: column;
  top: 20%;
  right: 30%;">
    <img class="img" src="../../../assets/stickers/Пятница-min.png">
  </div>
  <div class="alpaca" style="    flex-direction: row-reverse;
  bottom: 40%;
  right: 14%;">
    <img class="img" src="../../../assets/stickers/Копытца-min.png">
  </div>
  <div class="alpaca" style="    left: 10%;
  flex-direction: row;
  bottom: 40%;">
    <img class="img" src="../../../assets/stickers/Нужен кофе-min.png">
  </div>
  <div class="alpaca" style="    flex-direction: row;
  left: 30%;
  bottom: 75%;">
    <img class="img" src="../../../assets/stickers/На почте-min.png">
  </div>
  <div class="alpaca" style="    flex-direction: row;
  bottom: 20%;
  left: 15%;">
    <img class="img" src="../../../assets/stickers/День рождение-min.png">
  </div>
  <div class="alpaca" style="flex-direction: column-reverse; right: 25%; bottom: 25%;">
    <img class="img" src="../../../assets/stickers/Кофе-min.png">
  </div>
</div>

<div class="title-text abs-text">
  Стикерпак
</div>

<div class="c-col">
  <div class="text">
    <div class="title-text">
      Стикерпак
    </div>
    <div class="lead-text">
      Один годный стикер заменяет пятьдесят сложносочиненных предложений.
      <br>
      Качай и используй в рабочих чатах
    </div>
  </div>
</div>