<div class="vhvw"
  style="position: absolute; align-items: center; display: flex; flex-direction: column; justify-content: center;">
  <img src="../../../assets/8-red-circle.svg" style="width: 45vw; position: absolute; z-index: -2;">
  <img src="../../../assets/8-red-thing.png"
    style="width: 55vw; z-index: -1; display: flex; flex-direction: column-reverse; position: absolute;">
  <img src="../../../assets/8-bottom.svg" style="position: absolute; bottom: 0;">
</div>

<div class="main-row vhvw">
  <div class="main-column" style="width: 27.5vw; flex-direction: column-reverse;">
    <img src="../../../assets/8-white-key.svg" style="width: 15vw">
  </div>
  <div class="main-column" style="width: 60vw; justify-content: center; align-items: center; background-color: red; border-radius: 50%; height: 60vh;">
    <div class="title-text">
      Стикерпак
    </div>
    <div class="lead-text" style="text-align: center;">
      Один годный стикер заменяет пятьдесят
      сложносочиненных предложений.
      Качай и используй в рабочих чатах
    </div>
    <button [disabled]="true" type="submit">
      <a routerLink="">
        Посмотреть стикеры!
      </a>
    </button>
  </div>
  <div class="main-column" style="width: 27.5vw; align-items: flex-end; justify-content: center;">
    <img src="../../../assets/hex-r-crop.svg" alt="" style="width: 10vw;">
  </div>
</div>