<div style="
  display: flex; 
  flex-direction: column; 
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: absolute;">
  <img src="../../../assets/2-2011.png" style="width: 60%;">
</div>
<div style="
  display: flex; 
  flex-direction: column; 
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: absolute;">
  <img src="../../../assets/2-purple-circle.svg" style="width: 35%; z-index: -1;">
</div>

<div></div>
<img src="../../../assets/2-bottom-wave.svg" style="z-index: -3">