<div class="vhvw main-row">
  <div class="main-column" style="width: 10vw;"></div>
  <div class="main-column" style="width: 35vw; justify-content: center;">
    <div class="title-text">
      Финальный стрим
    </div>
    <div class="lead-text">
      Притормози!
      Это самое главное окошко.
      Тут в прямом эфире мы подведем
      итоги мероприятия и создадим
      арт-объект для нового офиса.
      Теперь листай дальше.
    </div>
  </div>
  <div class="main-column" style="width: 45vw; justify-content: center">
    <iframe src="https://facecast.net/v/ye6coo" width="976" height="549" style="border:none; border-radius: 10  px;"
      allow="autoplay; fullscreen" allowfullscreen>
    </iframe>
  </div>
  <div class="main-column" style="width: 10vw;"></div>
</div>

<div class="vhvw main-column" style="flex-direction: column-reverse; transform:translateZ(0); opacity: 0.999;">
  <img src="../../../assets/12-bottom.svg" style="background-color: #2d2d2d; bottom: 0; ">
</div>