.swiper-container {
  width: 100%;
  height: 100%;
  background: #eaeaea;

  .swiper-wrapper {
    .swiper-slide {
      .space-between {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .screen {
        width: 100%;
        height: 100%;
      }

      .first-screen {
        display: flex;
        flex-direction: column;
      }

      .sixth-screen {
        background-color: #96cf25;
      }

      .tenth-screen {
        background-color: #ff6062;
      }

      .twelveth-screen {
        background-color: #96cf25;
      }

      .thirteenth-screen {
        background-color: #2d2d2d;
      }

      .fourteenth-screen {
        background-color: #2d2d2d;
      }

      .fifteenth-screen {
        background-color: #151515;
      }
    }
  }

  &.swiper-container-vertical {
    .swiper-pagination-bullets {
      display: flex;
      flex-direction: column;
      align-items: center;
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        .page-year {
          position: relative;
          left: -375%;
          bottom: 25%;
        }
        @media (max-height: 450px) {
          width: 8px;
          height: 8px;
        }
      }
      .swiper-pagination-bullet-active {
        border: 2px solid #2d2d2d;
        width: 12px;
        height: 12px;
        padding: 2px;
        background-color: transparent;
        background-clip: content-box;
        opacity: 0.5;
        // @media (max-height: 450px) {
        //   width: 8px;
        //   height: 8px;
        // }
        .page-year {
          position: relative;
          left: -375%;
          bottom: 20%;
        }
      }
    }
  }
}
