<swiper
  [direction]="'vertical'"
  [pagination]="{ clickable: true }"
  [keyboard]="true"
  [mousewheel]="true"
  (activeIndexChange)="currentIndex($event)"
  (afterInit)="swiperAfterInit($event)"
>
  <div class="swiper-pagination" #swiperPagination></div>
  <ng-template swiperSlide>
    <app-avito-asd class="first-screen screen space-between"></app-avito-asd>
  </ng-template>
  <ng-template swiperSlide>
    <app-twenty-eleven class="second-screen screen space-between"></app-twenty-eleven>
  </ng-template>
  <ng-template swiperSlide>
    <app-retro-movie class="third-screen screen space-between"></app-retro-movie>
  </ng-template>
  <ng-template swiperSlide>
    <app-flash-game class="fourth-screen screen space-between"></app-flash-game>
  </ng-template>
  <ng-template swiperSlide>
    <app-meme-contest class="fifth-screen screen space-between"></app-meme-contest>
  </ng-template>
  <ng-template swiperSlide>
    <app-insta-mask class="sixth-screen screen space-between"></app-insta-mask>
  </ng-template>
  <ng-template swiperSlide>
    <app-twenty-one class="seventh-screen screen space-between"></app-twenty-one>
  </ng-template>
  <ng-template swiperSlide>
    <app-sticker-pack class="eighth-screen screen space-between"></app-sticker-pack>
  </ng-template>
  <ng-template swiperSlide>
    <app-flash-mob class="nineth-screen screen space-between"></app-flash-mob>
  </ng-template>
  <ng-template swiperSlide>
    <app-story-show class="tenth-screen screen space-between"></app-story-show>
  </ng-template>
  <ng-template swiperSlide>
    <app-video-joke class="eleventh-screen screen space-between"></app-video-joke>
  </ng-template>
  <ng-template swiperSlide>
    <app-final-stream class="twelveth-screen screen space-between"></app-final-stream>
  </ng-template>
  <ng-template swiperSlide>
    <app-twenty-one-double class="thirteenth-screen screen space-between"></app-twenty-one-double>
  </ng-template>
  <ng-template swiperSlide>
    <app-future-with-alpaca class="fourteenth-screen screen space-between"></app-future-with-alpaca>
  </ng-template>
</swiper>