.hwhh {
  height: 100%;
  width: 100%;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-grow: 1;
}

.main-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.title-text {
  font-size: 62px;
  line-height: 60px;
  font-weight: 800;
  color: white;
  filter: drop-shadow(1px 1px 1px #303030);
  @media (max-width: 1024px) {
    font-size: 36px;
    line-height: 36px;
  }
  @media (max-height: 500px) {
    font-size: 24px;
    line-height: 24px;
  }
}

.lead-text {
  width: 40vw;
  color: white;
  margin-top: 2ch;
  margin-bottom: 2ch;
  font-size: 32px;
  line-height: 34px;
  font-weight: 500;
  filter: drop-shadow(1px 1px 1px #303030);
  @media (max-width: 1024px) {
    font-size: 22px;
    width: 100%;
  }
  @media (max-height: 768px) {
    font-size: 24px;
    line-height: 26px;
  }
  @media (max-width: 680px) {
    font-size: 20px;
    line-height: 22px;
  }
  @media (max-height: 667px) {
    font-size: 14px;
    line-height: 18px;
  }
  @media (max-width: 420px) {
    font-size: 16px;
    line-height: 18px;
  }
  @media (max-width: 360px) {
    font-size: 14px;
    line-height: unset;
  }

  @media (max-height: 400px) {
    margin: 0 0;
  }
}

.bottom-wave {
  width: 100%;
  height: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  position: absolute;
  flex-direction: column-reverse;
  .wave {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.top-wave {
  width: 100vw;
  height: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  position: absolute;
  flex-direction: column;
  .wave {
    width: 100%;
    position: absolute;
    top: 0;
  }
}
