<div class="vhvw main-column" style="position: absolute; transform:translateZ(0); opacity: 0.999;">

  <img src="../../../assets/10-bottom-wave.svg" style="position: absolute; background-color: #00AAFF; bottom: 0;">
</div>

<div class="main-row vhvw">
  <div class="main-column" style="width: 50w; flex-direction: column-reverse;">
    <img src="../../../assets/10-micro-2.png" width="100%">
  </div>
  <div class="main-column" style="width: 50vw; justify-content: center;">
    <div class="title-text">
      Шоу историй
    </div>
    <div class="lead-text">
      Если ты всегда прикидывал, какую историю о работе в ASD ты рассказал бы на шоу «Что было дальше», то это твой
      звездный час. Отправляй свой рассказ в тексте и жди приглашения для съемок в финальном видеоролике.
    </div>
    <button type="submit">
      <a routerLink="story">
        Отправить историю
      </a>
    </button>
  </div>
</div>