.content {
  max-height: 100%;
  width: 60%;
  justify-content: center;
  .adpt {
    display: flex;
    flex-direction: column;
    .video-wrapper {
      aspect-ratio: 5/3;
      background-color: #303030;
      border-radius: 20px;
      z-index: 3;
      max-width: 60vw;
      max-height: 30vh;
      .iframe {
        aspect-ratio: 5/3;
        border-radius: 20px;
      }
    }
  }
}
