<div class="bottom-wave">
  <img class="wave" src="../../../assets/3-bottom-wave.png" style="
    background-color: transparent;
    background-repeat: repeat;
    z-index: 0;
  ">
</div>

<img src="../../../assets/3-red-circle.svg" class="red-circle">
<img src="../../../assets/3-camera.webp" class="camera">

<div class="wrapper" style="
  background-image: url(../../../assets/blue-dots-bg.svg);
  background-color: #00aaff;
  background-repeat: repeat;
">

  <div class="left">
    <img src="../../../assets/3-white-key-1.svg" style="width: 10vw;">
  </div>

  <div class="center">
    <div class="addy">
      <div>
        <div class="title-text">
          Ролик из прошлого
        </div>
        <div class="lead-text">
          Если любишь капсулы времени, включай этот
          ролик-послание, который записали твои коллеги
          в 2011 году. Если не любишь, то все равно включай,
          можно подумать у тебя есть выбор.
        </div>
      </div>
      <div class="video-wrapper">
        <iframe src="https://www.youtube.com/embed/8qKsxATUJK0" width="100%" height="100%" frameborder="0"
          webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="right">
    <div></div>
  </div>
</div>