<div class="wrapper">

  <div class="left">
    <img src="../../../assets/3-white-key-1.svg" style="width: 10vw;">
  </div>

  <div class="center">
    <div class="title-text">
      Ролик <br> из прошлого
    </div>
    <div class="lead-text">
      Если любишь капсулы времени, включай этот
      ролик-послание, который записали твои коллеги
      в 2011 году. Если не любишь, то все равно включай,
      можно подумать у тебя есть выбор.
    </div>
    <div class="video-wrapper">
      1123
    </div>
  </div>

  <div class="right">
    <div>
      <img src="../../../assets/3-red-circle.svg"
        style="position: absolute; z-index: 1; bottom: 0; right: 0; width: 80%;">
      <img src="../../../assets/3-camera.png"
        style="position: absolute; z-index: 2; bottom: 0; right: 0; width: 100%;">
    </div>
  </div>

  <div class="absolute">
    <img src="../../../assets/3-bottom-wave.svg">
  </div>
</div>