<div class="top-wave">
  <img src="../../../assets/7-top-wave.svg" class="wave">
</div>

<div class="main-column hwhh" style="justify-content: center; align-items: center;">
  <div style="width: 70%;">
    <div style="width: 10vw; margin-left: 15vw; margin-top: 15vh;">
      <img src="../../../assets/7-top-key.svg">
    </div>
  
    <div style="display: flex; flex-direction: column; width: 100%; align-items: center; ">
      <img src="../../../assets/7-2021.png" style="width: 80%;">
    </div>
  
    <div style="display: flex; flex-direction: row-reverse;">
      <div style="width: 30%;">
        <img src="../../../assets/7-bot-key.svg">
      </div>
    </div>
  </div>
</div>
