<div class="hwhh twenty-one-2" style="position: absolute; z-index: 2;">
  <div class="green"></div>
  <div class="purple"></div>
</div>

<div class="hwhh">
  <div class="hwhh main-row">
    <div class="main-column" style="flex-direction: column-reverse; width: 40vw;">
      <img src="../../../assets/14-mask.webp" style="max-height: 75%; max-width: 40vw; aspect-ratio: 2340/4096;">
    </div>
    <div class="main-column" style="width: 60vw; justify-content: center; height: 100%;">
      <div class="title-text">
        Маска
      </div>
      <div class="lead-text">
        Заходи в Instagram примерить маску и почувствуй себя работником отдела ASD в 2121 году.
        Не забывай выкладывать истории
        и ставить хэштег #avitoteam ;)
      </div>
    </div>
    <div class="main-column" style="width: 10vw;"></div>
  </div>
</div>