<div class="hwhh twenty-one-2" style="position: absolute; z-index: 2;">
  <div class="green"></div>
  <div class="purple"></div>
</div>

<div class="hwhh">
  <div class="hwhh main-row">

    <div class="main-column" style="width: 10%;"></div>
    <div class="main-column" style="width: 50%; justify-content: center; height: 100%;">
      <div class="title-text" style="font-family: 'Cyber', sans-serif;">
        Маска 2121
      </div>
      <div class="lead-text">
        Заходи в Instagram примерить технологичную маску 2121, потому что работники отдела ASD не просто следят за
        трендами, они и есть тренд.
        <br>
        Не забывай выкладывать истории и ставить хэштег #avitoteam ;)
      </div>
      <div style="width: max-content;" (click)="wear()">
        <button>
          <span>
            Примерить
          </span>
        </button>
      </div>
    </div>
    <div class="main-column" style="flex-direction: column-reverse; width: 50%; align-items: flex-end;">
      <img src="../../../assets/14-mask.png"
        style="transform: scaleX(-1); max-height: 90%; max-width: 100%; aspect-ratio: 2340/4096;">
    </div>
  </div>
</div>