<div class="vhvw">
  <div class="vhvw main-row">
    <div class="main-column" style="width: 40vw;">
      <div style="position: absolute; display: flex; flex-direction: column-reverse; z-index: 1; height: 100%;">
        <img src="../../../assets/14-mask.png" width="50%">
      </div>
    </div>
    <div class="main-column" style="width: 60vw; justify-content: center; height: 100%;">
      <div class="title-text">
        Маска
      </div>
      <div class="lead-text">
        Заходи в Instagram примерить маску и почувствуй себя работником отдела ASD в 2121 году.
        Не забывай выкладывать истории
        и ставить хэштег #avitoteam ;)
      </div>
    </div>
  </div>
</div>