<div class="top-wave">
  <img src="../../../assets/5-header.png" class="wave">
</div>

<div class="hwhh main-column footer bottom-wave">
  <img src="../../../assets/5-bottom-wave.svg" class="wave">
</div>

<div class="hwhh main-column meme-unique">
  <div class="hwhh main-row">
    <div class="left-column">
      <img src="../../../assets/5-blue-key.svg" class="key">
    </div>

    <div class="content">
      <div class="title-text">
        Конкурс мемов
      </div>

      <div class="lead-text">
        Пора выходить на новый уровень и перекидывать
        коллегам не чужие, а свои мемчики.
        Создавай, грузи сюда и получай призы,
        если у тебя получилось реально смешно.
      </div>

      <div class="buttons">
        <button (click)="link.click()" type="submit" class="meme-btn">
          <a #link routerLink="meme-generator">
            Создать мем
          </a>
        </button>
        <input type="file" accept="image/png" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
        <button type="button" class="meme-btn" (click)="file.click()">
          <div style="display: flex; flex-direction: column;">
            <span>
              Загрузить свой
            </span>
            <span style="color: gray;">
              только png
            </span>
          </div>
        </button>
      </div>

      <div class="memes">
        <swiper class="swiper-meme" [autoplay]="{ delay: 2500 }" [preventInteractionOnTransition]="true"
          [direction]="'horizontal'" [nested]="true">
          <div class="swiper-pagination"></div>
          <ng-template swiperSlide class="swiper-meme-slide" *ngFor="let image of memeImages">
            <img src="{{image.imagePath}}" alt="" class="imgee">
          </ng-template>
          <ng-template swiperSlide class="swiper-meme-slide">
            <img class="imgee" src="../../../assets/land-memes/photo_2021-07-21_21-42-39.jpg">
          </ng-template>
          <ng-template swiperSlide class="swiper-meme-slide">
            <img class="imgee" src="../../../assets/land-memes/photo_2021-07-21_21-42-45.jpg">
          </ng-template>
          <ng-template swiperSlide class="swiper-meme-slide">
            <img class="imgee" src="../../../assets/land-memes/photo_2021-07-21_21-42-46.jpg">
          </ng-template>
          <ng-template swiperSlide class="swiper-meme-slide">
            <img class="imgee" src="../../../assets/land-memes/photo_2021-07-21_21-42-47.jpg">
          </ng-template>
          <ng-template swiperSlide class="swiper-meme-slide">
            <img class="imgee" src="../../../assets/land-memes/photo_2021-07-21_21-42-48.jpg">
          </ng-template>
          <ng-template swiperSlide class="swiper-meme-slide">
            <img class="imgee" src="../../../assets/land-memes/photo_2021-07-21_21-42-49.jpg">
          </ng-template>
          <ng-template swiperSlide class="swiper-meme-slide">
            <img class="imgee" src="../../../assets/land-memes/photo_2021-07-21_21-42-43.jpg">
          </ng-template>
        </swiper>
      </div>

    </div>

    <div class="right-column">
      <img src="../../../assets/5-big-doge.png" class="doge">
      <div class="doge-bg">
        <img src="../../../assets/5-doge-bg.svg">
      </div>
    </div>
  </div>
</div>