@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;

    background: $background-color;
  }

  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

.memes {
  @include scrollbars(10px, #00aaff);
}

.header {
  position: absolute;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  display: flex;
  flex-direction: column;
  .mage {
    width: 100%;
    position: absolute;
    top: 0;
  }
}

.footer {
  flex-direction: column-reverse;
  bottom: -5%;
  z-index: 2;
}
