<div class="hwhh twenty-one-2" style="position: absolute; z-index: 2;">
  <div class="blue"></div>
  <div class="red"></div>
  <div class="green"></div>
  <div class="purple"></div>
</div>

<div class="hwhh main-column top-wave" style="top: 0;">
  <img src="../../../assets/14-top-wave.svg" class="wave">
</div>

<div class="hwhh main-row" style="z-index: 3;">
  <div class="main-column" style="width: 10vw;">
    <div></div>
  </div>
  <div class="main-column" style="width: 60vw; justify-content: center;">
    <div class="title-text">
      Будущее с альпакой
    </div>
    <div class="lead-text">
      Если ты всегда хотел завести котеночка, но не решался, то вот тебе поворот судьбы – ты теперь официальный опекун
      ламы.
      Он не писает в лоток, и гулять с ним в шесть утра не нужно.
      Просто наслаждайся тем, что в зоопарке есть лама, которая
      находится под опекой Авито ASD. Так что если его обидят
      другие ламы, придется им морду набить.
    </div>
    <button [disabled]="true" type="submit">
      <a routerLink="meme-generator">
        Смотреть видео
      </a>
    </button>
  </div>
  <div class="main-column" style="width: 45vw;">
    <div class="hwhh" style="
      display: flex;
      flex-direction: column;
      /* position: absolute; */
      bottom: 0;
      right: 0;
      justify-content: flex-end;
      align-items: flex-end;
    ">
      <img src="../../assets/14-alpaca.png" style="height: 45vw;">
    </div>
  </div>
</div>