<div class="hwhh twenty-one-2" style="position: absolute; z-index: 2;">
  <div class="blue"></div>
  <div class="red"></div>
  <div class="green"></div>
  <div class="purple"></div>
</div>

<div class="hwhh main-column top-wave" style="top: 0;">
  <img src="../../../assets/14-top-wave.svg" class="wave">
</div>

<div class="hwhh main-row" style="z-index: 3;">
  <div class="main-column" style="width: 10vw;">
    <div></div>
  </div>
  <div class="main-column" style="width: 60vw; justify-content: center;">
    <div class="title-text">
      Оставь свой след
    </div>
    <div class="lead-text">
      Теперь отдел ASD не просто смотрит в будущее, он делает это вместе с альпакой. Если ты всегда мечтал о тотемном животном, то теперь оно закреплено за тобой официально. Без шуток, в Ленинградском зоопарке есть альпака, которая находится под опекой Авито ASD. Ее зовут Шарлотка, и она ждет знакомства с тобой, обязательно приходи повидаться. Если ты еще не скачал стикерпак, советуем вернуться, он весь посвящен маленькой Шарли ;)
    </div>
    <button [disabled]="true" type="submit">
      <a routerLink="meme-generator">
        Смотреть видео
      </a>
    </button>
  </div>
  <div class="main-column" style="width: 45vw;">
    <div class="hwhh" style="
      display: flex;
      flex-direction: column;
      /* position: absolute; */
      bottom: 0;
      right: 0;
      justify-content: flex-end;
      align-items: flex-end;
    ">
      <img src="../../assets/14-alpaca.webp" style="height: 45vw;">
    </div>
  </div>
</div>