<div class="vhvw main-column" style="top: 0;">
  <img src="../../../assets/14-top-wave.svg">
</div>

<div class="vhvw main-row">
  <div class="main-column"></div>
  <div class="main-column">
    <div class="title-text">
      Будущее с альпакой
    </div>
    <div class="lead-text">
      Если ты всегда хотел завести котеночка, но не решался, то вот тебе поворот судьбы – ты теперь официальный опекун
      ламы.
      Он не писает в лоток, и гулять с ним в шесть утра не нужно.
      Просто наслаждайся тем, что в зоопарке есть лама, которая
      находится под опекой Авито ASD. Так что если его обидят
      другие ламы, придется им морду набить.
    </div>
    <button [disabled]="true" type="submit">
      <a routerLink="meme-generator">
        Смотреть видео
      </a>
    </button>
    <div style="display: flex; flex-direction: row-reverse; overflow: hidden;">
      <img src="../../assets/14-alpaca.png" style="width: 25vw; aspect-ratio: 44/57; margin-bottom: -1vh;">
    </div>
  </div>
  <div class="main-column"></div>
</div>