.hwhh {
  .left-side {
    flex-direction: column-reverse;
    max-width: 40vw;
    height: 100%;
    .mask-wrap {
      position: absolute;
      display: flex;
      flex-direction: column-reverse;
      z-index: 1;
      .mask {
        max-height: 100%;
        max-width: 25vw;
        aspect-ratio: 5/9;
      }
    }
  }
  .content {
    width: 45vw;
    justify-content: center;
    z-index: 2;
    margin-right: 5%;
    .lead-text {
      max-width: 85%;
    }
    button {
      background: #eaeaea;
      font-weight: 500;
      border: none;
      color: #96cf25;
      a {
        text-decoration: none;
        text-transform: capitalize;
        color: unset;
      }
      @media (max-width: 414px) {
        font-size: 14px;
        padding: 10px 30px;
        max-width: fit-content;
      }
    }
  }
  .right-side {
    width: 15vw;
    justify-content: space-around;
  }
}
