.hwhh {
  .left-side {
    flex-direction: column-reverse;
    max-width: 40vw;
    height: 100%;
    .mask-wrap {
      position: absolute;
      display: flex;
      flex-direction: column-reverse;
      z-index: 1;
      .mask {
        max-height: 100%;
        max-width: 25vw;
        aspect-ratio: 5/9;
      }
    }
  }
  .content {
    width: 45vw;
    justify-content: center;
    z-index: 2;
    margin-right: 5%;
    .lead-text {
      max-width: 75%;
    }
    .f-mask-btn {
      background: #eaeaea;
      border-radius: 15px;
      filter: drop-shadow(1px 1px 1px #303030);
      color: #96cf25;
    }
  }
  .right-side {
    width: 15vw;
    justify-content: space-around;
  }
}
