<div class="vhvw main-row">
  <div class="main-column" style="flex-direction: column-reverse; width: 25vw;">
    <img src="../../../assets/6-left.svg">
    <div style="position: absolute; display: flex; flex-direction: column-reverse; z-index: 1;">
      <img src="../../../assets/6-mask.png" width="50%">
    </div>
  </div>

  <div style="width: 50vw; justify-content: center; z-index: 2;" class="main-column">
    <div class="title-text">
      Маска
    </div>
    <div class="lead-text" style="color: white;">
      Заходи в Instagram примерить маску
      и почувствуй себя работником отдела ASD в 2011 году.
      Не забывай выкладывать истории
      и ставить хэштег #avitoteam ;)
    </div>
    <button [disabled]="true" type="submit">
      <a routerLink="">
        Примерить маску!
      </a>
    </button>
  </div>

  <div style="width: 25vw; justify-content: space-around;" class="main-column">
    <img src="../../../assets/6-grey-graphic.png" style="width: 75%; align-self: flex-end;">
    <img src="../../../assets/6-green-graphic.png" style="width: 100%;">
  </div>
</div>