.wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100%;
  .gameboy {
    transform: translateX(-20%) translateY(-10%) rotate(348deg);
    max-width: 30vw;
    z-index: 5;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 6;
    .flash-btn {
      color: #9658f8;
      margin-left: 30px;
      font-size: 20px;
    }
  }
  .right-angle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: flex-end;
    align-content: center;
    .angle {
      aspect-ratio: 2/3;
      width: 100%;
    }
  }
}