.wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  .gameboy {
    width: 35vw;
    transform: translateX(-20%) translateY(-10%) rotate(348deg);
    z-index: 5;
    width: 40vw;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .right-angle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: flex-end;
    align-content: center;
    .angle {
      aspect-ratio: 2/3;
      width: 100%;
    }
  }
}

.bottom-wave {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  .wave {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}