.wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100%;
  .gameboy {
    transform: translateX(-20%) translateY(-10%) rotate(348deg);
    max-width: 30vw;
    z-index: 5;
  }
  .content {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .right-angle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: flex-end;
    align-content: center;
    .angle {
      aspect-ratio: 2/3;
      width: 100%;
    }
  }
}