<div style="display: flex; flex-direction: row; width: 100vw; height: 100vh;">
  <div style="display: flex; flex-direction: column-reverse;">
    <img src="../../../assets/4-gameboy.png"
      style="width: 35vw; transform: translateX(-20%) translateY(-15%) rotate(348deg); z-index: 5; width: 40vw; ">
    <div style="display: flex; flex-direction: column;">
      <img src="../../../assets/4-green-graphic.svg"
        style="width: 10vw;">
  
      <div style="position: absolute; z-index: 2; width: 40vw; bottom: 0;">
        <img src="../../../assets/4-green-circle-hex.svg">
      </div>
    </div>
  </div>
  <div style="display: flex; flex-direction: column; justify-content: center;">
    <div class="title-text">
      Флеш-игра
    </div>
    <div class="lead-text">
      Проверить рабочую почту ты всегда успеешь, а побыть Поповыми, не так часто. Залетай в прикольную пиксельную
      бродилку, собери миллиард монеток, избегая трудностей ведения бизнеса.
    </div>
    <button tuiButton [disabled]="true" type="submit" class="tui-space_right-3 tui-space_bottom-3"
      appearance="secondary">
      <a routerLink="">
        PLAY
      </a>
    </button>
  </div>
  <div>

  </div>
</div>

<div style="position: absolute; display: flex; flex-direction: column-reverse; width: 100vw; height: 100vh;">
  <img src="../../../assets/4-bottom-grey-wave.svg">
</div>

<div style="position: absolute; display: flex; flex-direction: column; width: 100vw; height: 100vh; justify-content: center; align-items: flex-end;">
  <img src="../../../assets/4-right-angle.png" style="width: 15vw; aspect-ratio: 2/3;">
</div>