.meme-generator-page {
  width: 100vw;
  height: 100%;
  flex-grow: 1;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #96cf25;
  justify-content: flex-start;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .title-text {
    width: 100%;
    background-color: #96cf25;
    text-align: center;
    margin-bottom: 10px;
  }
  .meme-generator {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    .selected-image-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .selected-image {
        max-width: 300px;
        aspect-ratio: 1/1;
        object-fit: cover;
        position: relative;
        .text-content {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: 98%;
          width: 100%;
          color: white;
          text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000,
            0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
            -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000,
            -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000,
            -2px -1px 0 #000;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
          .text {
            font-size: 18pt;
            line-height: 20pt;
            text-align: center;
            font-weight: 500;
            max-width: 80%;
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            word-wrap: break-word;
          }
        }
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      .text-input {
        max-width: 100%;
      }
      .base-images {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .base-images-scroll {
          display: flex;
          flex-flow: row nowrap;
          max-width: 100%;
          overflow-x: auto;
          column-gap: 20px;
          row-gap: 20px;
          height: 200px;
          .meme-image {
            width: 200px;
            height: 200px;
          }
          .chosen-image {
            outline: 6px solid blue;
            outline-offset: -6px;
          }
        }
      }
    }
  }
}