<!-- absolutes -->
<div class="hwhh">
  <div class="top-wave">
    <img src="../../../assets/11-top-wave.png" style="z-index: 0;" class="wave">
  </div>
  <div class="bottom-wave">
    <img class="wave" src="../../../assets/11-bot-wave.svg">
  </div>
</div>
<img src="../../../assets/11-left-bot-clapper.png" class="clapper">
<img src="../../../assets/11-meza.png" class="meza">

<!-- background -->
<div class="hwhh" style="
  background-image: url(../../../assets/blue-dots-bg.svg);
  background-color: #00aaff;
  background-repeat: repeat;
  z-index: -1;
">
</div>

<div class="hwhh main-row" style="position: absolute; flex-grow: 0; z-index: 4;">

  <div class="main-column" style="display: flex; width: 35vw; height: 100%; flex-direction: column-reverse;">
  </div>

  <div class="main-column" style="display: flex; width: 75vw; justify-content: center; flex-grow: 0;">
    <div class="title-text">
      Видеоролик розыгрыш
    </div>
    <div class="lead-text">
      Каждый понедельник мы с друзьями ходим на планерку, это у нас традиция такая. Если вдруг ты пропустил наш самый необычный понедельник, то смотри видео, как к нам приходил Сергей Мезенцев.
    </div>
  </div>

  <div class="main-column" style="width: 15vw;">

  </div>
</div>