.wave {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.clapper {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  max-height: 30%;
  max-width: 40%;
}
.meza {
  position: absolute;
  z-index: 1;
  bottom: 0;
  max-height: 60%;
  max-width: 40%;
}

.title-text {
  text-align: right;
}

.lead-text {
  margin: 30px 0;
  text-align: right;
  width: 100%;
}