<div class="vhvw">
  <div>
    <img src="../../../assets/11-bot-wave.svg"
      style="position: absolute; bottom: 0; z-index: 2; transform:translateZ(0); opacity: 0.999;">
  </div>
</div>

<div class="vhvw main-row">
  <div class="main-column" style="position: absolute; bottom: 0; left: 0;">
    <img src="../../../assets/11-meza.png" style="aspect-ratio: 52/86; width: 25vw;">
  </div>
  <div class="main-column" style="width: 60vw;">
    <div class="title-text">
      Видеоролик розыгрыш
    </div>
    <div class="lead-text">
      Для любителей приколов «Вам нужен холодильник?
      Ну тогда мы придем заберем»
      у нас есть офигенный ролик-пранк.
      Жми скорее, и так потерял время, пока читал описание
    </div>
  </div>
</div>
<div style="background-color: #00AAFF; overflow: visible; z-index: 2;">
</div>